<p id="notice"><%= notice %></p>

<p>
  <strong>Life:</strong>
  <%= @user_game_infomation.life %>
</p>

<p>
  <strong>Dragon card:</strong>
  <%= @user_game_infomation.dragon_card_id %>
</p>

<p>
  <strong>Called dragon card:</strong>
  <%= @user_game_infomation.called_dragon_card_id %>
</p>

<p>
  <strong>Finger 1st:</strong>
  <%= @user_game_infomation.finger_1st %>
</p>

<p>
  <strong>Finger 2nd:</strong>
  <%= @user_game_infomation.finger_2nd %>
</p>

<p>
  <strong>Finger 3rd:</strong>
  <%= @user_game_infomation.finger_3rd %>
</p>

<p>
  <strong>Finger 4th:</strong>
  <%= @user_game_infomation.finger_4th %>
</p>

<p>
  <strong>Finger 5th:</strong>
  <%= @user_game_infomation.finger_5th %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @user_game_infomation.parent %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_game_infomation.user_id %>
</p>

<p>
  <strong>Ai:</strong>
  <%= @user_game_infomation.ai_id %>
</p>

<%= link_to 'Edit', edit_user_game_infomation_path(@user_game_infomation) %> |
<%= link_to 'Back', user_game_infomations_path %>
